body{
  padding-top:80px;
  word-wrap:break-word;
  background: url(img/login.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}
.col-sm-6{
  background-color: rgb(150, 75, 0, .859);
}
